{
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false,
          "useBuiltIns": "usage",
          "debug": false
        }
      ],
      "react"
    ],
    "plugins": ["babel-plugin-styled-components","transform-class-properties", "transform-object-rest-spread", "syntax-dynamic-import"],
    "env": {
      "test": {
        "presets": [
          [
            "env",
            {
              "modules": "commonjs",
              "useBuiltIns": "usage",
              "debug": false
            }
          ],
          "react"
        ],
        "plugins": ["babel-plugin-styled-components","transform-class-properties", "transform-object-rest-spread", "syntax-dynamic-import"]
      }
    }
  }
  