.MuiDrawer-paper {
  overflow-y: hidden;
}
.newRulecls .MuiFormLabel-root {
  font-size: 0.8rem;
}
.newRulecls label + .MuiInput-formControl {
  margin-top: 0;
}
.newRulecls .MuiInputLabel-formControl {
  transform: none;
}
.drawerCls .MuiPaper-root {
  background-color: #efefef;
}
.more-option .MuiPaper-elevation8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}
.titleCls {
  top: 6px;
  position: absolute;
  left: -8px;
  font-size: 1.1rem;
  max-width: 235px;
}
.subTitleCls {
  position: absolute;
  left: -8px;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.2;
}
.rootSubTitleCls {
  position: absolute;
  left: 39px;
  font-size: 1.2em;
  font-weight: 400;
}
.basicTtlcls {
  font-size: 1.1rem;
  position: absolute;
  left: 47px;
  top: 12px;
  max-width: 235px;
}
.basicImg {
  left: 14px;
  width: 21px;
  position: absolute;
  top: 24px;
}
.displayImg {
  display: none;
}

.ruleSetClass {
  width: 219px;
  left: 10px;
}
.ruleSetClass label {
  font-size: 0.9rem;
}
.container-cls {
  padding-bottom: 5px;
}
.ruleset-select {
  min-width: 217px;
}
.tree-icon {
  z-index: 999;
}
.ruleset-tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}
