.user-nav-profile {
  .user-icon-grid {
    padding: 20px;
  }
  .username {
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    opacity: 0.85;
    padding-bottom: 8px !important;
  }
  .role {
    font-size: 14px;
    color: #656565;
    letter-spacing: 0;
    opacity: 0.85;
  }
  .item-cls {
    padding-top: 0px !important;
  }
}

